<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/vue"></script>

</head>

<body>

    <div id="app">

        <div class="container-fluid">

            <!--First row-->
            <div class="container-fluid">

                <div class="row"></div>

            </div>

            <br>

            <!--Second row-->
            <div class="container-fluid">

                <div class="row">

                    <div v-if='showProduct'>

                        <ul v-for="product in products">
                            <div class="output">
                                <img v-bind:src="product.image" alt="logo.png">
                                <p>Subject: {{product.topic}}</p>
                                <p>Location: {{product.location}}</p>
                                <p>Price: {{product.price}}</p>
                                <p>Number of spaces: {{product.space}}</p>
                                <button class="add">Add
                                    to cart</button>

                            </div>
                        </ul>
                    </div>

                </div>

            </div>

            <br>

            <!--Third row-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                </div>
            </div>

        </div>

    </div>

    <script>

        var vueapp = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Club',
                products: {},
                cart: [],
                showProduct: true
            },

            created: function () {

                fetch('https://lessons-online-store.herokuapp.com/collection/lessons').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                vueapp.products = json
                            }
                        )
                    }
                )
            },

            methods: {

                addToCart: function (product) {

                    this.cart.push({

                        _id: product._id,
                        topic: product.topic,
                        location: product.location,
                        price: product.price,
                        quantity: product.space,
                        image: product.image

                    })
                },

                postOrder: function () {

                    lessonId = [];

                    for (let i = 0; i < this.cart.length; i++) {

                        lessonId.push({
                            id: this.cart[i]._id,
                            space: 1
                        }
                        )
                    }

                    let newOrder = {
                        name: this.name,
                        phone_number: this.phoneNumber,
                        lessons: lessonId
                    }

                    fetch('https://lessons-online-store.herokuapp.com/collection/orders', {

                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(newOrder),
                    })
                        .then(response => response.json())

                    this.feedback = 'Order posted successfully!'

                    this.putLesson()
                },

                putLesson: function () {

                    for (let i = 0; i < this.cart.length; i++) {

                        fetch('https://lessons-online-store.herokuapp.com/collection/lessons/' + this.cart[i]._id, {

                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                "space": this.cart[i].quantity - 1
                            }),
                        })
                            .then(response => response.json())
                    }
                },

                showCheckout() {

                    this.showProduct = this.showProduct ? false : true;

                },

                cartCount(title) {

                    let count = 0;

                    for (let i = 0; i < this.cart.length; i++) {

                        if (this.cart[i] === title) {

                            count++
                        }
                    }
                    return count;
                },

                canAddToCart: function (product) {

                    return product.space > this.cartCount(product.title);

                }
            },

            computed: {

                cartItemCount: function () {

                    this.cartTotalProducts = this.cart.map(item => 1).reduce((prev, curr) => prev + curr, 0);

                    return this.cartTotalProducts || '0';

                }
            },

            watch: {

                searchItem: async function () {

                    if (this.searchItem.length > 0) {

                        await fetch('https://lessons-online-store.herokuapp.com/search/lessons/' + this.searchItem).then(
                            function (response) {
                                response.json().then(
                                    function (json) {
                                        vueapp.products = json
                                    }
                                )
                            }
                        )

                    } else {

                        fetch('https://lessons-online-store.herokuapp.com/collection/lessons').then(
                            function (response) {
                                response.json().then(
                                    function (json) {
                                        vueapp.products = json
                                    }
                                )
                            }
                        )
                    }
                }
            }
        })

    </script>

</body>

</html>