<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/vue"></script>

</head>

<body>

    <div id="app">

        <div class="container-fluid">

            <!--First row-->
            <div class="container-fluid">

                <div class="row"></div>

            </div>

            <br>

            <!--Second row-->
            <div class="container-fluid">

                <div class="row">

                    <div v-if='showProduct'>

                        <ul v-for="product in products">
                            <div class="output">
                                <img v-bind:src="product.image" alt="logo.png">
                                <p>Subject: {{product.topic}}</p>
                                <p>Location: {{product.location}}</p>
                                <p>Price: {{product.price}}</p>
                                <p>Number of spaces: {{product.space}}</p>
                                <button class="add">Add
                                    to cart</button>

                            </div>
                        </ul>
                    </div>

                </div>

            </div>

            <br>

            <!--Third row-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                </div>
            </div>

        </div>

    </div>

    <script>

        var vueapp = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Club',
                products: {},
                cart: [],
                showProduct: true
            },

            created: function () {

                fetch('https://lessons-online-store.herokuapp.com/collection/lessons').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                vueapp.products = json
                            }
                        )
                    }
                )
            },

            methods: {

                addToCart: function (product) {

                    this.cart.push({

                        _id: product._id,
                        topic: product.topic,
                        location: product.location,
                        price: product.price,
                        quantity: product.space,
                        image: product.image

                    })
                }
            }
        })

    </script>

</body>

</html>